<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stxr.zzu_app">
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--PhotoPick用-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/classroom"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <receiver android:name=".widget.Awidget">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widge_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.seewo.homewidgets.action.CLICK" />
            </intent-filter>
        </receiver>
        <!--图片选择器-->
        <activity
            android:theme="@style/NoActionBarFullscreen"
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.InfoChangeActivity"
            android:label="我的资料"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.CourseOutLine"
            android:label="离线查询"
            android:screenOrientation="portrait"/>
        <!--修改昵称-->
        <activity android:name=".ui.ChangeNameAcitvity"
            android:label="修改昵称"
            android:screenOrientation="portrait"/>
        <!--考试倒计时-->
        <activity android:name=".ui.CountDownActivity"
            android:label="考试倒计时"
            android:screenOrientation="portrait"/>
        <!--忘记密码-->
        <activity android:name=".ui.ForgetActivity"
            android:label="忘记密码"
            android:screenOrientation="portrait"/>
        <!--主界面-->
        <activity android:name=".ui.BottomNavigationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <!--绑定账号的界面-->
        <activity android:name=".ui.BindActivity"
            android:label="绑定账号"
            android:screenOrientation="portrait"/>
        <!--显示文章的界面-->
        <activity android:name=".ui.ShowPassageActivity"
            android:screenOrientation="portrait"
            android:label="文章"/>
        <!--发布文章界面-->
        <activity
            android:name=".ui.PassageActivity"
            android:screenOrientation="portrait"
            android:label="发帖"/>
        <!--登录界面-->
        <activity android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"/>
        <!--注册界面-->
        <activity android:name=".ui.RegisteredActivity"
            android:screenOrientation="portrait" />
        <!--主界面-->
        <activity android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarFullscreen"
            android:screenOrientation="portrait"/>
        <!--测试界面-->
        <activity android:name=".test.TestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <!--闪屏界面-->
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/NoActivityFullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="UQmHd40F1IK3G7BtEHh27n4cWxj32IP6" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        //key:开发者申请的Key

    </application>

</manifest>